<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/{{cssFileName}}.css">
</head>

<body>
    {{> site-nav}}

    {{{body}}}
</body>

</html>