<h1>Это главная страница</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eum veniam. Optio deleniti maxime expedita et
    error ut eum dicta sapiente beatae consequuntur, dolores a velit? Nihil earum inventore quae.</p>
<img src="/images/images.jpg" alt="">
<li>item 1</li>
<li>item 2</li>
<li>item 3</li>
</ul>